.env
database.db

# Node
node_modules/
/package-lock.json
coverage/
jest-stare/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Virtual environments
.venv
env/
venv/

# IDE
.vscode
.idea